@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron text-center" style="background-color: darkseagreen">
        <h1>Home of the Kernels!</h1>
        <img src="~/lib/images/bright-cereal-close-up-547263.jpg" style="width: 25%; height: 25%;" />
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a small private technology university located in
            RexBurger, Idaho. We PRIDE ourselves on being student focused and competency
            oriented while incoperating industry best practices into all that we do.
            <br /><br />
            If you are looking for a university which is on the bleeding edge of technology
            with frequent contributions from industry professionals, <b>THIS IS THE PLACE FOR YOU</b>
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/lib/images/alabama-architecture-auburn-university-207692 (1).jpg" />
    </div>
</div>
